In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import os
import numpy as np
import gmaps

from api_keys import g_key
gmaps.configure(api_key=g_key)

In [3]:
objects='MetObjects.csv'
df=pd.read_csv(objects)
df

C:\Users\tiij8\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (5,7,10,11,12,13,14,15,22,34,35,36,37,38,39,40,41,42,43,44,46) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Object Number,Is Highlight,Is Timeline Work,Is Public Domain,Object ID,Gallery Number,Department,AccessionYear,Object Name,Title,...,River,Classification,Rights and Reproduction,Link Resource,Object Wikidata URL,Metadata Date,Repository,Tags,Tags AAT URL,Tags Wikidata URL
0,1979.486.1,False,False,False,1,NaN,The American Wing,1979,Coin,One-dollar Liberty Head Coin,...,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/1,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
1,1980.264.5,False,False,False,2,NaN,The American Wing,1980,Coin,Ten-dollar Liberty Head Coin,...,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/2,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
2,67.265.9,False,False,False,3,NaN,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,...,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/3,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
3,67.265.10,False,False,False,4,NaN,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,...,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/4,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
4,67.265.11,False,False,False,5,NaN,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,...,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/5,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
473809,48.78.2,False,False,False,848975,NaN,Drawings and Prints,NaN,Print,Bank note motif: Number Three,...,NaN,Prints,NaN,http://www.metmuseum.org/art/collection/search...,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
473810,48.78.3,False,False,False,848977,NaN,Drawings and Prints,NaN,Print,Bank note motif: Number One,...,NaN,Prints,NaN,http://www.metmuseum.org/art/collection/search...,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
473811,48.78.4,False,False,False,848978,NaN,Drawings and Prints,NaN,Print,Bank note motif: Number Five,...,NaN,Prints,NaN,http://www.metmuseum.org/art/collection/search...,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
473812,48.78.5,False,False,False,848979,NaN,Drawings and Prints,NaN,Print,Bank note motif: Secured by Pledge of Public S...,...,NaN,Prints,NaN,http://www.metmuseum.org/art/collection/search...,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
473813,48.78.6,False,False,False,848981,NaN,Drawings and Prints,NaN,Print,Bank note motif: Classical Male Head with Lyre,...,NaN,Prints,NaN,http://www.metmuseum.org/art/collection/search...,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN

In [8]:
df=df[['Object Number',
 'Is Highlight',
 'Object ID',
 'Department',
 'AccessionYear',
 'Object Name',
 'Title',
 'Culture',
 'Period',
 'Dynasty',
 'Reign',
 'Artist Role',
 'Artist Display Name',
 'Artist Display Bio',
 'Artist Alpha Sort',
 'Artist Nationality',
 'Artist Begin Date',
 'Artist End Date',
 'Artist Gender',
 'Object Date',
 'Object Begin Date',
 'Object End Date',
 'Medium',
 'Dimensions',
 'Credit Line',
 'Geography Type',
 'City',
 'State',
 'County',
 'Country',
 'Region',
 'Subregion',
 'Locale',
 'Locus',
 'Excavation',
 'River',
 'Classification']]
df

,Object Number,Is Highlight,Object ID,Department,AccessionYear,Object Name,Title,Culture,Period,Dynasty,...,State,County,Country,Region,Subregion,Locale,Locus,Excavation,River,Classification
0,1979.486.1,False,1,The American Wing,1979,Coin,One-dollar Liberty Head Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Metal
1,1980.264.5,False,2,The American Wing,1980,Coin,Ten-dollar Liberty Head Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Metal
2,67.265.9,False,3,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Metal
3,67.265.10,False,4,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Metal
4,67.265.11,False,5,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Metal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
473809,48.78.2,False,848975,Drawings and Prints,NaN,Print,Bank note motif: Number Three,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Prints
473810,48.78.3,False,848977,Drawings and Prints,NaN,Print,Bank note motif: Number One,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Prints
473811,48.78.4,False,848978,Drawings and Prints,NaN,Print,Bank note motif: Number Five,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Prints
473812,48.78.5,False,848979,Drawings and Prints,NaN,Print,Bank note motif: Secured by Pledge of Public S...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Prints
473813,48.78.6,False,848981,Drawings and Prints,NaN,Print,Bank note motif: Classical Male Head with Lyre,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Prints

In [10]:
df['Classification'].describe()

count     417731
unique      1185
top       Prints
freq       79548
Name: Classification, dtype: object

In [21]:
df['Classification'].value_counts().head(27)

Prints                                  79548
Prints|Ephemera                         28243
Photographs                             26952
Drawings                                25853
Vases                                   21287
Books                                   14685
Ceramics                                14050
Textiles-Woven                          10992
Paintings                               10401
Photographs|Ephemera                    10019
Glass                                    8756
Negatives                                6133
Prints|Ornament & Architecture           5171
Textiles-Laces                           4958
Drawings|Ornament & Architecture         4896
Ceramics-Porcelain                       4368
Sculpture                                4354
Textiles-Embroidered                     4084
Metalwork-Silver                         3969
Books|Prints|Ornament & Architecture     3751
Ceramics-Pottery                         3654
|                                        3246
Textiles                                 3239
Textiles-Printed                         2558
Jewelry                                  2463
Metalwork                                2310
Metal                                    2288
Name: Classification, dtype: int64

In [51]:
top_op_df=df[df['Classification'].isin(['Prints',
                                'Prints|Ephemera',
                                'Photographs',
                                'Drawings',
                                'Vases',
                                'Books'
                                'Ceramics',
                                'Textiles-Woven',
                                'Paintings',
                                'Photographs|Ephemera',
                                'Glass',
                                'Negatives',
                                'Prints|Ornament & Architecture',
                                'Textiles-Laces',
                                'Drawings|Ornament & Architecture',
                                'Ceramics-Porcelain',
                                'Sculpture',
                                'Textiles-Embroidered',
                                'Metalwork-Silver',
                                'Books|Prints|Ornament & Architecture',
                                'Ceramics-Pottery',
                                'Textile',
                                'Jewelry',
                                'Metalwork',
                                'Metal'])]
top_op_df

,Object Number,Is Highlight,Object ID,Department,AccessionYear,Object Name,Title,Culture,Period,Dynasty,...,State,County,Country,Region,Subregion,Locale,Locus,Excavation,River,Classification
0,1979.486.1,False,1,The American Wing,1979,Coin,One-dollar Liberty Head Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Metal
1,1980.264.5,False,2,The American Wing,1980,Coin,Ten-dollar Liberty Head Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Metal
2,67.265.9,False,3,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Metal
3,67.265.10,False,4,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Metal
4,67.265.11,False,5,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Metal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
473809,48.78.2,False,848975,Drawings and Prints,NaN,Print,Bank note motif: Number Three,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Prints
473810,48.78.3,False,848977,Drawings and Prints,NaN,Print,Bank note motif: Number One,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Prints
473811,48.78.4,False,848978,Drawings and Prints,NaN,Print,Bank note motif: Number Five,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Prints
473812,48.78.5,False,848979,Drawings and Prints,NaN,Print,Bank note motif: Secured by Pledge of Public S...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Prints
473813,48.78.6,False,848981,Drawings and Prints,NaN,Print,Bank note motif: Classical Male Head with Lyre,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Prints

In [31]:
# highlight_df = df[df['Is Highlight'] == True]
# highlight_df

In [52]:
top_op_df=top_op_df[top_op_df["Culture"].str.contains("probably")==False]
top_op_df=top_op_df[top_op_df["Culture"].str.contains("possibly")==False]
top_op_df=top_op_df[top_op_df["Culture"].str.contains("unknown")==False]

In [55]:
cult_df=top_op_df.groupby('Culture','Classification').count()
cult_df

ValueError: No axis named Classification for object type <class 'pandas.core.frame.DataFrame'>